{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Résultats : </h1>


        <p> Les hôtels ayant des chambres disponibles en ce moment : </p>

        <table id="example" class="display table table-striped">
            <thead>
            <tr>
                <td style="width: 25%">Nom</td>
                <td style="width: 10%">Adresse</td>
                <td style="width: 10%">CP</td>
                <td style="width: 10%">Ville</td>
                <td style="width: 20%">Site web</td>
                <td style="width: 5%">Etoiles</td>
                <td style="width: 5%">Dispo</td>
                <td style="width: 5%">Capacité</td>
            </tr>
            </thead>

            <tbody>
            {% for hotel in hotels  %}


                <tr>
                    <td style="width: 25%">{{ hotel.name }}</td>
                    <td style="width: 10%">{{ hotel.address }}</td>
                    <td style="width: 10%">{{ hotel.zipcode }}</td>
                    <td style="width: 10%">{{ hotel.city }}</td>
                    <td style="width: 20%">{{ hotel.website }}</td>
                    <td style="width: 5%">{{ hotel.stars }}</td>
                    <td style="width: 5%">{{ hotel.total }}</td>
                    <td style="width: 5%">{{ hotel.capacity }}</td>
                </tr>
            {% endfor %}


        </table>

    </div>
{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready( function () {
            $('#example').DataTable();
        } );
{% endblock %}